
<h1>Роли</h1>


<% @actstr.each do |p| %>

    <section >

      <p>
        <%= "Спектакль: "%>
        <%= p.firstname %>

        <%= "Время: "%>
        <time >
          <%= p.date.strftime("%Y-%m-%d at %I:%M %p") %>
        </time>
      </p>


        <%= "Актер: "%>
        <%= p.surname%>
        <%= p.name%>
        <%= p.patronymic%>
      </p>

      <p>
        <%= "Роль: "%>
        <%= p.role %>
      </p>

      <% if current_user.admin? %>
          <%= link_to 'Изменить', edit_admin_actor_structure_path(p), class: 'btn btn-outline-primary btn-sm'%>
          <%= link_to 'Удалить', admin_actor_structure_path(p), method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-outline-danger btn-sm'%>
      <% else %>
      <% end %>
      <p >
      <h3 class="last">

      </h3>






    </section>


<% end %>

<% if current_user.admin? %>

  <%= link_to 'Новая роль', new_admin_perfomance_actor_structure_path(@perfomance), class: 'btn btn-outline-primary btn-sm'%>

<% else %>
<% end %>